


:root {
   /* light.css */ 
    --font-color: #333;
    --bg-color: #fff;

    --link-color:#1d60a3;
    --link-state-color:#ce0e67;
    --link-state-border-color: rgba(163, 29, 29, .5);

    --thead-bg-color: rgba(0,0,0,0.1);
    --table-border-color: rgb(231, 231, 231);

    --nav-bg-color: #fff;
    --nav-link-color: #696969;

    --pre-color: #333;
    --pre-bg-color: #f1f1f1;

    --bq-color: #eee;
    --hr-color: #eee;

    --pagination-bg-color: #fafafa;
    --pagination-link-color: #696969;

    --post-info-color: grey;

    --switcher-color: #333;
    --switcher-bg-color: #333; 
}



[data-theme="dark"] {
    /* dark.css */ 
--font-color: #eee;
--bg-color: #0b0b0b;

--link-color:#e6ea15;
--link-state-color:#ff1180;
--link-state-border-color: rgba(238, 54, 54, 0.5);

--thead-bg-color: rgba(255,255,255,0.25);
--table-border-color: #1e848d;

--nav-bg-color: #0b0b0b;
--nav-link-color: #b6b6b6;

--pre-color: #333;
--pre-bg-color: #f1f1f1;

--bq-color: #1f1f1f;
--hr-color: #1f1f1f;

--pagination-bg-color: #373737;
--pagination-link-color: #b6b6b6;

--post-info-color: grey;

--switcher-color: #fff;
--switcher-bg-color: #fff;

}


/* Basic */
html {
    font-family: "Work Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

.emoji {
    font-family: Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;
}

.hide-content {
    content="";
}

.fa-adjust::before {
    display: none;
    z-index: -1;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.64;
    -webkit-font-smoothing: antialiased;
    color: var(--font-color);
    background: var(--bg-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}	

.container {
    max-width: 42em;
    margin: 0 auto;
}

main {
    outline:none;
}

/* Headers */
h1 {
    font-size: 3.052rem;
}

.post h1 {
    font-weight: 200;
}

h2 {
    font-size: 2.441rem;
    font-weight: 200;
}

h3 {
    font-size: 1.953rem;
    font-weight: 200;
}

h4 {
    font-size: 1.563rem;
    font-weight: 200;
}

h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

h6 {
    font-size: 1rem;
    font-weight: 300;
}

/* Links */

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--link-state-color);
    /*border-bottom: 1px solid var(--link-state-border-color);*/
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
}

a:active {
    opacity: 0.9;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, 
a.skip-main:active {
    left: auto;
    top: 0px;
    width: auto;
    height: auto;
    overflow:auto;
    z-index:999;
    padding: 4px 6px 4px 6px;
    text-decoration: underline;
    border: none;
}

/* Table */
thead {
    background: var(--thead-bg-color);
}

.table-wrapper {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-spacing: 0;
}


th, td {
    padding: 0.5em 1em;
    border: 1px double var(--table-border-color);
}

/* Code */

.highlight pre {
    background-color: #141415 !important;
    border-radius: 6px;
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.28);*/
}

pre {
    color: var(--pre-color);
    background-color: var(--pre-bg-color);
    padding: 1em;
    max-width: 100%;
    overflow: auto;
}

code,
pre,
kbd {
    font-family: "Fira Code", monospace;
    font-size: 0.90em;
    line-height: 154%;
}

/* Styles */

blockquote {
    border-left: 2px solid var(--bq-color);
    padding: 0.1em 1em;
    margin-left: 0.75em;
    font-family: "EB Garamond", serif;
    font-size: 18px;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    color: var(--hr-color);
    background-color: var(--hr-color);
    border: none;
    height: 1px;
}

/* Header */

.common-header {
    padding-bottom: 1.5em;
    font-weight: 300
    /*border-bottom: thin solid var(--hr-color);*/
}

header a, .theme-switcher, header a:visited, .theme-switcher:visited {
    color: var(--link-color) !important;
}

header a:hover, header a:active, header a:focus, .theme-switcher:hover {
    text-decoration: none;
    color: var(--link-state-color) !important
}

header h1 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 300;
}

header h2 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    border-bottom: thin solid var(--hr-color);
}

.site-title {
    white-space: nowrap;
}

.site-title-right {
    float: right;
}

header nav:not(:empty){
    background: var(--nav-bg-color);
    margin-top: 1em;
    max-width: 100%;
    text-align: center;
    padding: 0.5em 0;
}

header nav a {
    display: inline-block;
    margin: 0 2.5%;
    font-weight: 300;
}

/* Post header */
.post .post-header h1 {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 200;
    margin-bottom: 0.72em;
    color: var(--link-state-color);
}

/* Social icons */
.social-icons {
    margin-top: 0em;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

.social-icons li {
    display: inline;
}

.social-icons li:not(:first-of-type) {
    margin-left: 0.5em;
}

.social-icons a:hover,
.social-icons a:focus,
.social-icons a:active {
    color: inherit;
    border-bottom: none;
    text-decoration: none;
}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}


/* Pages */
main h1 {
    margin-top: 1em;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 200;
}

.post-short-list:first-of-type {
    margin-top: 1em;
}

/* Articles */

.post-navigation {
    background: var(--nav-bg-color);
    text-align: center;
    margin-top: 1em;
    max-width: 100%;
    padding: 0.5em 0;
}

.post-navigation a:first-of-type {
    margin-left: 0;
}

.post-navigation a {
    color: var(--nav-link-color);
    margin-left: 2em;
}

.post-navigation a:hover, 
.post-navigation a:focus,
.post-navigation a:active {
    color: var(--link-state-color);
}

.post-title.favorite::after {
    content: "🌟";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.draft::after {
    content: "✏️";
    display: inline-block;
    margin-left: 0.2em;
}

.post-title.favorite.draft::after {
    content: "🌟 ✏️";
    display: inline-block;
    margin-left: 0.2em;
}

article:not(:last-of-type) {
    border-bottom: thin solid var(--hr-color);
    padding-bottom: 3em;
    margin-bottom: 3em;
}

article header h1 {
    font-size: 1.8em;
    line-height: 1.64em;
    margin-bottom: 0.5em;
    font-weight: 300;
}

article header h1 a {
    color: var(--font-color);
    border: none;
    text-decoration: none;
}

.post-info {
    color: var(--post-info-color);
    font-size: 0.75em;
    margin-top: 1em;
}

.post-info a {
    color: var(--post-info-color);
}

.post-info a:hover {
    color: var(--link-state-color);
}

.post-short-list .post-info {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.post-taxonomies {
    display: inline;
}

.post-hidden-url {
    display: none;
}

.post-hidden-author {
    display: none;
}

.post-date {
    white-space: nowrap;
}

.post-categories {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.post-categories li {
    display: inline;
    margin-right: 1em;
}

.post-tags {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-tags li {
    display: inline;
    margin-right: 1em;
}

article img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 1.64em auto 1.64em;
}

article figcaption {
    color: grey;
    text-align: center;
    font-size: 0.85em;
    margin-bottom: 2em;
}

.read-more {
    margin: 1em 0;
}

.divider {
    border-top: thin solid var(--hr-color);
    display: block;
    height: 1px;
    border: 0;
    width: 25%;
    margin: 1em auto;
}

.post-summary {
    margin-top: 0.5em;
    display: block;
}

.post-summary > p {
    display: block;
}

.twitter-tweet {
    color: #888 !important;
}

.twitter-tweet a {
    color: var(--link-color) !important;
}

.twitter-tweet a:hover {
    color: var(--link-state-color) !important;
}

/* Other pages */
.terms {
    list-style-type: none;
    padding: 0;
    line-height: 2em;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    text-align: center;
    border-top: 1px solid var(--hr-color);
    padding-top: 1em;   
}

.pagination-item {
    background: var(--bg-color);
    padding: 0.75em 0.75em;
}

.pagination-item a {
    color: var(--link-color);
}

.pagination-item a:hover, 
.pagination-item a:focus {
    color: var(--link-state-color);
    text-decoration: none;
}

.disabled {
    visibility: hidden;
}

.pagination-item a:hover, .pagination-item a:focus {
    border-bottom: 0;
}

.post-pagination .pagination-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 16em;
}

/* Footer */

footer .copyright {
    width: 100%;
}

.common-footer {
    border-top: thin solid var(--hr-color);
    padding-top: calc(3em - 16px);
    margin-top: 1em;
    font-size: 16px;
}

.common-footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

ul.language-select, ul.footer-menu {
    padding-left: 0;
    list-style: none;
    display: flex;
}

ul.language-select > li, ul.footer-menu > li {
    margin-right: 1em;
}

.theme-switcher {
    color: var(--switcher-color);
    /*background: var(--switcher-bg-color);*/
    padding: 0.5em 1em;
    font-size: 16px;
    border: none;
    margin-bottom: -0.2em;
    display: contents;
}

.h-card {
    display: none;
}

/* Media Queries */

@media (max-width: 840px) {
    .main-wrapper {
        margin: 0;
        max-width: none;
        overflow-x: hidden;
        padding-left: 25px;
        padding-right: 25px;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .pagination-item {
        padding: 0.5em 0.5em;
        font-size: 14px;
    }

    .post-navigation {
        background: var(--pagination-bg-color);
        text-align: center;
        padding: 0.5em 0;
    }

    .post-navigation a {
        margin-left: 0.5em;
    }

    .post-pagination .pagination-item {
        max-width: 10em;
    }
}


