<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://blog.userrepository.eu">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Site.Params.Description }}">
<meta property="og:image" content="https://blog.userrepository.eu/static/org-image.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://blog.userrepository.eu">
<meta property="twitter:title" content="{{ .Title }}">
<meta property="twitter:description" content="{{ .Site.Params.Description }}">
<meta property="twitter:image" content="https://blog.userrepository.eu/static/org-image.png">
