<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://blog.userrepository.eu">
<meta property="og:title" content="userrepository blog">
<meta property="og:description" content="Updates and highlights about userrepository, a mostly AUR-based binary repository for Arch and Arch-based distributions">
<meta property="og:image" content="https://blog.userrepository.eu/static/org-image.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://blog.userrepository.eu">
<meta property="twitter:title" content="userrepository blog">
<meta property="twitter:description" content="Updates and highlights about userrepository, a mostly AUR-based binary repository for Arch and Arch-based distributions">
<meta property="twitter:image" content="https://blog.userrepository.eu/static/org-image.png">
